@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root {
    --bg-color: #1f242d;
    --second-bg-color: #323946;
    --text-color: #fff;
    --main-color: #0ef;
    --bg2-color: #250821;
    --big-font: 2.5rem;
    --norma-font: 2rem;
    --neno-box-shadow: 0 0 .5rem #12f7ff;
    --h2-font: 3rem;
}
body {
    font-family: Arial, sans-serif;
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: black;
}

.login-container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 59px;
    width: 374px;
    text-align: -webkit-auto;
    box-shadow: 0 0 1rem var(--main-color);
}

.login-container h2 {
    color: #070707;
}

.login-form {
    margin-top: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: flex;
    margin-bottom: 20px;
    color: #000000;
}

.form-group input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid var(--main-color);
    border-radius: 4px;
}

.login-button {
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--main-color);
    letter-spacing: .1rem;
    font-weight: 600;
    transition: .5s ease;
}

.login-button:hover {
    box-shadow: none;
}
